body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
}

.header {
    background-color: lightgreen;
    color: #fff;
    height: 90px;
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    text-align: center;
}

.header-list {
    float: left;
    padding: 33px 20px;
}

h1 {
    color: #d6d09c;
    text-align: center;
}
