h1 {
  color: burlywood;
  text-align: center;
}

p {
  font-size: 40px;
  text-align: center;
}

li {
  list-style: none;
}

body{
    font-family: "Avenir Next";
}

.header{
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
    font-weight: bold;
}
.header-logo{
    float: left;
    font-size: 36px;
    padding:20px 40px;
    font-weight: bold;
}
.header-list li{
    float: right;
    padding: 33px 20px;
    font-weight: bold;
}

.footer {
    text-align: center;
    font-size: 20px;
}