h1 {
  color: burlywood;
  text-align: center;
}

li {
  list-style: none;
}

body{
    font-family: "Avenir Next";
}

.main {
    padding: 20px 80px;
}

.copy-container h1 {
    font-size: 148px;
}

.copy-container h2 {
    font-size: 60px;
}

.copy-container span {
    color: #ff4a4a;
}

.contents {
    height: 500px;
}

.section-title {
    border-bottom: 2px solid grey;
    font-size: 35px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.contents-item {
    font-size: 24px;
    float: left;
    margin-top: 10px;
    color: burlywood;
    align-items: center;
    text-align: center;
}

.contact-form {
  padding-top: 100px;
}

input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
  margin-bottom: 40px;
}

.header{
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
    font-weight: bold;
}
.header-logo{
    float: left;
    font-size: 36px;
    padding:20px 40px;
    font-weight: bold;
}
.header-list li{
    float: right;
    padding: 33px 20px;
    font-weight: bold;
}

.footer {
    text-align: center;
    font-size: 20px;
    background-color: darkblue;
    color: #fff;
    height: 120px;
    padding: 40px;
    margin-top: 450px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 10px;
    font-weight: bold;
    color: pink;
}

